body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: #B62924;
}

.logo{
    width: 100px;
    object-fit: cover;
}

.navbar{
    border-bottom: 2px solid #B62924;
}

.dropdown-menu[data-bs-popper]{
    left: auto;
    right: 0;
}



.card{
    border: 2px solid #B62924;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: none;
}

.card-img-top{
    aspect-ratio: 1/2;
}

.card-body h5{
    color: #B62924;
}

ion-icon{
    cursor: pointer;
}

footer{
     background-color:#B62924 ;
}


@media screen and (max-width: 991px){
    form{
        margin-top: 15px;
    }
}